/* Fonts */

/* righteous-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/righteous-v18-latin-regular.woff2") format("woff2");
}

/* roboto-flex-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-flex-v30-latin-regular.woff2") format("woff2");
}

/* roboto-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-mono-v31-latin-regular.woff2") format("woff2");
}
/* roboto-mono-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-mono-v31-latin-500.woff2") format("woff2");
}

:root {
  --color-first: #000000;
  --color-second: #202020;
  --color-thrid: #404040;
  --color-fourth: #95ff8d;
  --color-fifth: #aaaaaa;
  --color-sixth: #fff;
  --color-seventh: #64c25d;
  --color-eighth: #356831;
}

/* Base */

body {
  font-family: "Roboto Flex", sans-serif;
  font-size: 14px;
  color: var(--color-sixth);

  background-color: #000000;

  line-height: 1.5;
}

.uppercase {
  text-transform: uppercase;
}

.section-title {
  font-family: "Righteous", sans-serif;
  font-size: 120px;
  text-transform: capitalize;
}

/* Header */

nav {
  color: var(--color-sixth);
  font-size: 26px;
  font-family: "Righteous", sans-serif;

  text-decoration: none;
}

.nav-link,
.nav-link:link,
.nav-link:visited {
  color: var(--color-sixth);
  text-decoration: none;
}

.nav-link:active {
  color: var(--color-sixth);
}

/* underline без прыжков */
.nav-link {
  display: inline-block;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s;
}

.nav-link:hover {
  border-bottom-color: var(--color-sixth);
}

/* Buttons */

.btn {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}

.btn-green {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-fourth);
  width: 113px;
  height: 36px;
  border-radius: 24px;

  color: var(--color-eighth);
  text-decoration: none;

  transition: 0.3s;
}

.btn-green:hover {
  color: var(--color-first);
  background-color: var(--color-seventh);
}

.btn-black {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: var(--color-fourth);

  background-color: var(--color-thrid);
  width: 151px;
  height: 36px;
  border-radius: 24px;

  transition: 0.3s;
}

.btn-black:hover {
  background-color: var(--color-first);
}

/* Home section */

.base {
  background-color: var(--color-thrid);
  border-radius: 8px;

  color: var(--color-sixth);
}

/* Footer */

.address-link {
  text-decoration: underline;
  color: var(--color-sixth);

  transition: 0.3s;
}

.address-link:hover {
  color: var(--color-fourth);
}
